<h2>Doctor:</h2>

<strong><%= @doctor.name %></strong><br>
<em><%= @doctor.department %><br></em><br>

<% @doctor.appointments.each do |appointment| %>
	<%= link_to appointment.patient.name, patient_path(appointment.patient) %>
	<%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %><br>
	<% end %>